*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/core/common/build/
/core/data/build/
/core/designsystem/build/
/core/domain/build/
/core/map/build/
/core/network/build/
/core/testing/build/
/core/ui/build/
/feature/auth/build/
/feature/driver-earnings/build/
/feature/driver-profile/build/
/feature/driver-requests/build/
/feature/driver-trip/build/
/feature/notifications/build/
/feature/payments/build/
/feature/profile/build/
/feature/rider-booking/build/
/feature/rider-tracking/build/
/feature/safety/build/